@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    int i = 0;
}

<script>
    $(document).ready(function () {
        $('.next').click(function () {
            var quizid = @Model[(i)].QuizId;
            var questionid = @(@i+1);
            var dataToSend = {
                quizId: quizid,
                questionId: questionid
            }
            if (@i <= @Model.Count()) {
                $.ajax({
                    url: '@Url.Action("QuestionTake")',
                    type: 'POST',
                    data: JSON.stringify(dataToSend),
                    dataType: 'html',
                    success: function (result) {
                        $('.question').html(result);
                     }
                });
            };
        });
    });
</script>


@model IList<MeriEducation.Models.Question>


<h2>Quiz</h2>
<hr />

<div class="question">
@Html.Partial("QuestionTake", Model[0])
</div>
<span class="next">NEXT</span>

@*<div class="question">
    @Model[0].QuestionText
</div>*@

 <br />


<p>@Html.ActionLink("Back to Quizes", "quizzes")</p>
