@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@*<script>
    $(document).ready(function () {
        $('.next').click(function () {
            var quizid = @Model[(i)].QuizId;
            var questionid = @(@i+1);
            var dataToSend = {
                quizId: quizid,
                questionId: questionid
            }
            if (@i <= @Model.Count()) {
                $.ajax({
                    url: '@Url.Action("QuestionTake")',
                    type: 'POST',
                    data: JSON.stringify(dataToSend),
                    dataType: 'html',
                    success: function (result) {
                        $('.question').html(result);
                     }
                });
            };
        });
    });
</script>*@

<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>



@model IList<MeriEducation.Models.Question>


<h2>Quiz</h2>
<hr />

@*<div class="question">
@Html.Partial("QuestionTake", Model[0])
</div>
<span class="next">NEXT</span>*@

@*<div class="question">
    @Model[0].QuestionText
</div>*@

 <br />

<div id="myCarousel" class="carousel slide">

    <ol class="carousel-indicators">

        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>

        @for (var i = 1; i < Model.Count(); i++)
        {
        <li data-target="#myCarousel" data-slide-to="@i"></li>
        }

    </ol>
    <div class="row">
        <div class="col-xs-offset-3 col-xs-6">
            <div class="carousel-inner">
                <div class="item active" id="0">
                    <div>
                        Question 1
                        <h3>@Model[0].QuestionText</h3>
                        <p>(A) @Model[0].Answer1</p>
                        <p>(B) @Model[0].Answer2</p>
                        <p>(C) @Model[0].Answer3</p>
                        <p>(D) @Model[0].Answer4</p>
                    </div>
                </div>


                @for (var i = 1; i < Model.Count(); i++)
            {
                    <div class="item" id="@i">
                        <div>
                            Question @(i + 1)
                            <h3>@Model[i].QuestionText</h3>
                            <p>(A) @Model[i].Answer1</p>
                            <p>(B) @Model[i].Answer2</p>
                            <p>(C) @Model[i].Answer3</p>
                            <p>(D) @Model[i].Answer4</p>
                        </div>

                    </div>
                }

            </div>
        </div>
    </div>

        <!-- Controls -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>







<p>@Html.ActionLink("Back to Quizes", "quizzes")</p>
