@model MeriEducation.Models.Quiz

<h2>Quiz Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.name): @Html.DisplayFor(model => model.name)</p>

Questions:
<br /> <br />

@foreach (var question in Model.Questions)
{
    @Html.DisplayFor(model => question.questionText)
    <p>@Html.DisplayFor(model => question.answer1)</p>
    <p>@Html.DisplayFor(model => question.answer2)</p>
    <p>@Html.DisplayFor(model => question.answer3)</p>
    <p>@Html.DisplayFor(model => question.answer4)</p>

}