@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using MeriEducation.ViewModels

@model RegisterViewModel

<h2>Register a new Tutor User</h2>
<p>@Html.ActionLink("Are you a student? Register Here.", "Register")</p>
<hr />
@using (Html.BeginForm("RegisterTeacher", "Account", FormMethod.Post))
{
    <p>@Html.LabelFor(m => m.Email)
    @Html.TextBoxFor(m => m.Email)</p>

    <p>@Html.LabelFor(m => m.FirstName)
    @Html.TextBoxFor(m => m.FirstName)</p>

    <p>@Html.LabelFor(m => m.LastName)
    @Html.TextBoxFor(m => m.LastName)</p>

    <p>@Html.LabelFor(m => m.Password)
    @Html.PasswordFor(m => m.Password)</p>

    <p>@Html.LabelFor(m => m.ConfirmPassword)
    @Html.PasswordFor(m => m.ConfirmPassword)</p>

    <input type="submit" value="Register" />
}