@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
  var url = '@Url.Action("Edit", new { id = @Model.QuizId })';
  $(document).ready(function () {
      $('.edit').click(function () {
        $.ajax({
            type: 'GET',
            dataType: 'html',
            url: url,
            success: function (result) {
                $('.title-display').hide();
                $(result).insertAfter(".title-display");
            }
        });
      });
  });

</script>
 
@model MeriEducation.Models.Quiz

<div class="title-display">
<h3>
    <span class="name">@Model.Name</span>
</h3>
    <span class="edit">Edit</span>
</div>

@Html.Partial("DisplayAddQuestion", Model)


<div id="questions">

@Html.Partial("DisplayAllQuestions", Model)

 </div>