@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MeriEducation.Models.AddQuizViewModel


    <h2>Create</h2>
    <hr />
    <h4>Add a new quiz</h4>

       
        @using (Html.BeginForm())
    {
            <p>
                Quiz Name
                @Html.TextBoxFor(model => model.Name)
            </p>

            <p>
                Quiz Grade
                @Html.TextBoxFor(model => model.Grade)
            </p>

            <button type="button" onclick="addQuestion();">"Add a Question"</button>

            <div id="questions">
                <div class="questionsForm">

                    <p>
                        Question Text
                        @Html.TextBoxFor(model => model.QuestionText)
                    </p>

                    <p>
                        Question Answer Option 1
                        @Html.TextBoxFor(model => model.Answer1)
                    </p>

                    <p>
                        Question Answer Option 2
                        @Html.TextBoxFor(model => model.Answer2)
                    </p>

                    <p>
                        Question Answer Option 3
                        @Html.TextBoxFor(model => model.Answer3)
                    </p>

                    <p>
                        Question Answer Option 4
                        @Html.TextBoxFor(model => model.Answer4)
                    </p>

                    <p>
                        Question Correct Answer
                        @Html.TextBoxFor(model => model.CorrectAnswer)
                    </p>

                    </div>
                </div>

                    <input type="submit" value="Create" />

        }

    <p>@Html.ActionLink("Back to quiz list", "Quizzes")</p>
