@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MeriEducation.Models.Quiz

<h2>Quiz Details</h2>
<hr />

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>
<a href=@Url.Action("Edit", "Admin", new { id = Model.QuizId })><span>Edit Quiz Details</span></a>

<br />
<br />

Questions:
<br /> <br />

@foreach (var question in Model.Questions)
{
    <p><a href=@Url.Action("EditQuestion", "Admin", new { id = question.QuestionId })><span>Edit Question </span></a></p>
    @Html.DisplayFor(model => question.QuestionText)
    <p>@Html.DisplayFor(model => question.Answer1)</p>
    <p>@Html.DisplayFor(model => question.Answer2)</p>
    <p>@Html.DisplayFor(model => question.Answer3)</p>
    <p>@Html.DisplayFor(model => question.Answer4)</p>

}

<p>@Html.ActionLink("Back to Quizzes", "Quizzes")</p>