
@model MeriEducation.Models.Question

<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script>

<script>
$(document).ready(function () {
    $('.question-form').submit(function (event) {
        event.preventDefault();
        $.ajax({
            url: '@Url.Action("QuestionEdit")',
            type: 'POST',
            dataType: 'json',
            data: $(this).serialize(),
            success: function () {
                $('.question-form').remove();
           }
        });
    });
});
</script>

<form action="QuestionEdit" class="question-form">
    <label for="newQuestionText">Question Text: </label>
    <input type="text" name="newQuestionText" value="@Model.QuestionText" />
    <br />
    <label for="newAnswer1">Option 1: </label>
    <input type="text" name="newAnswer1"  value="@Model.Answer1" />
    <br />
    <label for="newAnswer2">Option 2: </label>
    <input type="text" name="newAnswer2"  value="@Model.Answer2" />
    <br />
    <label for="newAnswer3">Option 3: </label>
    <input type="text" name="newAnswer3"  value="@Model.Answer3" />
    <br />
    <label for="newAnswer4">Option 4: </label>
    <input type="text" name="newAnswer4"  value="@Model.Answer4"/>
    <br />
    <label for="newCorrectAnswer">Correct Answer: </label>
    <input type="text" name="newCorrectAnswer"  value="@Model.CorrectAnswer"/>
    <input hidden name="quizId" value=@Model.QuizId type="number" />
    <input hidden name="QuestionId" value="@Model.QuestionId" type="number" />
    <button type="submit">Submit</button>
</form>
