@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model MeriEducation.Models.Question

    <h2>Edit</h2>
    <hr />
    <h4>Edit this Question: @Html.DisplayFor(model => model.QuestionText)</h4>

    @using (Html.BeginForm())
    {

  
        @Html.HiddenFor(model => model.QuestionId)
        @Html.HiddenFor(model => model.QuizId)

        <p>
            @Html.LabelFor(model => model.QuestionText)
            @Html.EditorFor(model => model.QuestionText)
        </p>

        <p>
            @Html.LabelFor(model => model.Answer1)
            @Html.EditorFor(model => model.Answer1)
        </p>

        <p>
            @Html.LabelFor(model => model.Answer2)
            @Html.EditorFor(model => model.Answer2)
        </p>

        <p>
            @Html.LabelFor(model => model.Answer3)
            @Html.EditorFor(model => model.Answer3)
        </p>

        <p>
            @Html.LabelFor(model => model.Answer4)
            @Html.EditorFor(model => model.Answer4)
        </p>

        <p>
            @Html.LabelFor(model => model.CorrectAnswer)
            @Html.EditorFor(model => model.CorrectAnswer)
        </p>

        <input type="submit" value="Save" />
    }
    <p>@Html.ActionLink("Back to Quiz", "Details", new { id = @Model.QuizId })</p>
