@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<MeriEducation.Models.Quiz>


    <h2>Quizes by grade level</h2>

    <h1>7th Grade</h1>
    <ul>
        @foreach (var listItem in Model)
        {
            @if (listItem.Grade == 7)
            {
                <li>
                    <a href=@Url.Action("AddQuestion", "Admin", new { id = @listItem.QuizId })><span>@listItem.Name</span></a>
                    @using (Html.BeginForm("Delete", "Admin", new { id = listItem.QuizId }))
                    {
                        <input type="submit" value="Delete" />
                    }
                </li>
            }

        }
    </ul>

    <h1>8th Grade</h1>
    <ul>
        @foreach (var listItem in Model)
        {
            @if (listItem.Grade == 8)
            {
                <li>
                    <a href=@Url.Action("AddQuestion", "Admin", new { id = @listItem.QuizId })><span>@listItem.Name</span></a>
                    @using (Html.BeginForm("Delete", "Admin", new { id = listItem.QuizId }))
                    {
                        <input type="submit" value="Delete" />
                    }
                </li>
            }

        }
    </ul>
   

    <h3> Create a Quiz</h3>
    @Html.ActionLink("Create", "Create")

    <p>@Html.ActionLink("Back to Admin Portal", "Index")</p>

